
<nav class="navbar options-navbar navbar-default navbar-fixed-top" role="navigation">
	<div class='row'>
		<div class='col-md-12 col-sm-12 col-xs-12'>
			<div id="nav-menu">
				<div class='col-md-4'>
					<ul class="active">
						<li><a href='/'>Accueil</a></li>
						<li><a href='/'>Formations</a></li>
						<li><a href='/'>Accompagnement</a></li>
					</ul>
				</div>
				<div class="col-md-4">
					<p id='Agiretdonnersens' class="contour-jaune text-center">"Agir et donner Sens..."</p>
				</div>
				<div class="col-md-4">
					<ul class="active">
						<li><a href='/'>Enseignement</a></li>
						<li><a href='/'>Présentation</a></li>
						<li><a href='/'>Contact</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</nav>