
<nav class="navbar options-navbar navbar-default navbar-fixed-top" role="navigation">
	<div class='row '>
		<div class='col-md-12 col-sm-12 col-xs-12'>
			<div id="nav-menu">
				<div class='col-md-4'>
					<ul class="active">
						<li>Accueil</li>
						<li>Formations</li>
						<li>Accompagnement</li>
					</ul>
				</div>
				<div class="col-md-4"></div>
				<div class="col-md-4">
					<ul class="active">
						<li>Présentation</li>
						<li>Contact</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</nav>