
<nav class="navbar options-navbar navbar-default navbar-fixed-top" role="navigation">
	<div class='row'>
		<div class='container-fluid'>
			<div class='col-md-12 col-sm-12 col-xs-12'>
				<div id="nav-menu">
					<div class='col-md-4 col-sm-12 col-xs-12'>
						<ul>
							<a href='/'><li style='border-top-left-radius:20px; border-bottom-left-radius:20px'>Accueil</li></a>
							<a href='/'><li>Formations</li></a>
							<a href='/'><li>Accompagnement</li></a>
						</ul>
					</div>
					<div class="col-md-4 col-sm-12 col-xs-12">
						<p id='Agiretdonnersens' class="contour-jaune text-center">"Agir et donner Sens..."</p>
					</div>
					<div class="col-md-4 col-sm-12 col-xs-12">
						<ul>
							<a href='/'><li>Enseignement</li></a>
							<a href='/'><li>Présentation</li></a>
							<a href='/'><li style='border-top-right-radius:20px; border-bottom-right-radius:20px'>Contact</li></a>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</nav>