<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
	<div class="container">
    <div class="">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <!-- responsive mode -->
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse">
      <a class="navbar-brand" href="/fr" ><img data-no-retina id="logo-hp" alt="Merchandising.IO" class="img-responsive" src="/img/logo-merchandisingIO.png"></a>
        <ul class="nav navbar-nav navbar-center">
          <li><a href="/fr">Accueil</a></li>
          <li><a href="/fr/tour">Fonctionnalités</a></li> 
          <li><a href="/fr/clients">Cas clients</a></li>
          <li><a href="/fr/aboutus">A propos</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a><i class="fa fa-phone"></i><b> +33 3 67 88 00 15</b></a></li>
				  <li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">LANGAGE <span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
						<li><a class="language" href="/" data-language="en">English</a></li>
						<li><a class="language" href="/fr" data-language="fr">Français</a></li>
					</ul>
				  </li>
				  <li><a href="https://app.merchandising.io" class="login-btn">LOGIN</a></li>
			   </ul>
    </div>
	</div>
</nav>