<%- include('includes/header.ejs') %>
<body>
	<%- include('includes/main-nav.ejs') %>
	<div class='col-md-12'>
		<div class="row">
			<div class="img-responsive">
				<img src='/img/background-accueil.png'/>
			</div>
		</div>
		<div class='container'>
			<hr>
		</div>
		<div id="wowslider-container1">
			<div class="ws_images"><ul>
					<li><img src="data1/images/prsentation.jpg" alt="Qui est Marie Leurent ?" title="Qui est Marie Leurent ?" id="wows1_0"/></li>
					<li><img src="data1/images/risques_psychosociaux.jpg" alt="Risques Psychosociaux" title="Risques Psychosociaux" id="wows1_1"/></li>
					<li><a href="http://wowslider.com"><img src="data1/images/dpart_retraite.jpg" alt="jquery slider" title="Préparation au départ à la retraite" id="wows1_2"/></a></li>
					<li><img src="data1/images/accompagnement.jpg" alt="Accompagnement" title="Accompagnement" id="wows1_3"/></li>
				</ul></div>
				<div class="ws_bullets"><div>
					<a href="#" title="Qui est Marie Leurent ?"><span><img src="data1/tooltips/prsentation.jpg" alt="Qui est Marie Leurent ?"/>1</span></a>
					<a href="#" title="Risques Psychosociaux"><span><img src="data1/tooltips/risques_psychosociaux.jpg" alt="Risques Psychosociaux"/>2</span></a>
					<a href="#" title="Préparation au départ à la retraite"><span><img src="data1/tooltips/dpart_retraite.jpg" alt="Préparation au départ à la retraite"/>3</span></a>
					<a href="#" title="Accompagnement"><span><img src="data1/tooltips/accompagnement.jpg" alt="Accompagnement"/>4</span></a>
				</div></div><div class="ws_script" style="position:absolute;left:-99%"><a href="http://wowslider.net">http://wowslider.net/</a> by WOWSlider.com v8.7</div>
			<div class="ws_shadow"></div>
		</div>
			
		<script type="text/javascript" src="engine1/wowslider.js"></script>
		<script type="text/javascript" src="engine1/script.js"></script>

		<div class='row margin-top'>
			<div class='container'>
				<div class='text-justify col-md-10 col-md-offset-1'>
					<div class='mini-title text-uppercase'>
						<h2> Introduction </h2>
					</div>
					<p>Formatrice en relations humaines, Coach certifiée, et Chargée d'enseignement Vacataire à l'Université de Lille 1 (IUT A), je conduis depuis plus de 20 ans des démarches de formation et de développement des potentiels individuels et collectifs dans des environnements variés.</p>
					<p>Formée à la pratique de différents outils de communication et de développement personnel (PNL, Analyse
					Transactionnelle, Analyse Systémique des relations...), mes interventions permettent la concrétisation d'objectifs partagés et rendent à chacun la responsabilité de ses comportements et des actions qu'il a à mener dans le cadre de ses missions. Qu'il s'agisse de formation ou d'accompagnement (coaching ou bilan de compétences), mon mode opératoire conjugue les 3 composantes suivantes : PRISE DE CONSCIENCE – APPRENTISSAGE – MISE EN ŒUVRE.</p>
					<p>Après un parcours managérial d'une dizaine d'années dans le secteur du prêt-à-porter enfant-junior puis femme, j'ai créé le cabinet AGIR ET DONNER SENS (sous statut d'entreprise individuelle libérale), le 1er janvier 2004.
					</p>
				</div>
			</div>
		</div>

		<div class='row margin-top'>
			<div class='container'>
				<div class='col-md-10 col-md-offset-1'>
					<div class='mini-title text-uppercase text-right'>
						<h2>Quelques clients et partenaires</h2>
					</div>

</body>
</html>
