p, li, ul, h1, h2, h3, h4, h5, h6 {
	font-family: Dosis;
	padding : 0px;
	margin: 0px;
}

p, li{
	font-size: 14px;
}

/* navbar */
.options-navbar{
	margin: 5px 3%;
	background-color: white !important;
	border-bottom: 4px solid #40F030;
	border-radius: 50px;
}

#nav-menu ul li {
	padding-bottom: 0px;
	margin-bottom: 0px;
	float: left;
	display: block;
	position: relative;
	font-size: 16px;
	margin: 3% 6%;
}

#nav-menu {
	padding-left: 30px;
} 

#nav-menu li:hover a:hover{
	background-color: #40F030;
	color: white;
	display:inline-block;
	transition: background 0.3s;
}

a{
	color: #333;
}

#nav-menu li:hover a{
	color: white;
	text-decoration: none;
}

#Agiretdonnersens{
	margin-top: 3%;
	font-family: Pacifico;
	font-size: 16px;
	color: #DB76CE;
}