p, li, ul, h1, h2, h3, h4, h5, h6 {
	font-family: Dosis;
	padding : 0px;
	margin: 0px;
}

p, li{
	font-size: 14px;
}

/* navbar */
.options-navbar{
	background-color: white !important;
	border-bottom: 4px solid #40F030;
}

#nav-menu ul li {
	padding-bottom: 0px;
	margin-bottom: 0px;
	float: left;
	display: block;
	position: relative;
	font-size: 16px;
	padding : 12px 25px;
}

#nav-menu {
	padding-left: 30px;
} 

.active li:hover{
	background-color: #40F030;
	color: white;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

